# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

*.db
*.sqlite3

.DS_Store
Thumbs.db

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp